<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MicroExplorer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <MicroExplorer.My.MySettings>
            <setting name="LastComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="FormState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>1000, 700</value>
            </setting>
            <setting name="FormLoc" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="LastLocalPath" serializeAs="String">
                <value />
            </setting>
        </MicroExplorer.My.MySettings>
    </userSettings>
</configuration>